/* @keyframes ResumeCardAnimation {
    from {width:0rem}
    to {width:20rem}
}

.line{
    animation-name:ResumeCardAnimation;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
} */

@keyframes ResumeCardAnimation1 {
    0% {transform:rotate(0deg); margin-top:-20px; opacity: 0;}
    10% {transform:rotate(0deg); margin-top:-20px; opacity:1}
    50% {transform:rotate(-5deg); margin-top:-20px; opacity:1}
    90% {transform:rotate(-5deg); margin-top:-20px; opacity:1}
    100% {transform:rotate(-5deg); margin-top:-20px; opacity:0}
    
}

@keyframes ResumeCardAnimation2{
    0% {transform:rotate(0deg); margin-left:-50px; opacity: 0;}
    10% {transform:rotate(0deg); margin-left:-50px; opacity:1}
    50% {transform:rotate(5deg); margin-left:-50px; opacity:1}
    90% {transform:rotate(5deg); margin-left:-50px; opacity:1}
    100% {transform:rotate(5deg); margin-left:-50px; opacity:0}
}


.ResumeImage1{
    animation-name:ResumeCardAnimation1;
    animation-iteration-count:infinite ;
    animation-fill-mode: forwards;
    animation-duration: 8s;
}
.ResumeImage2{
    animation-name:ResumeCardAnimation2;
    animation-iteration-count:infinite ;
    animation-fill-mode: forwards;
    animation-duration: 8s;
}